# Football Players ID Match between Transfer Markt DB & FIFA 19/20 DB

Explicar isto

## Import libraries

## Import CSV files

In [2]:
Transfers_Market_filename = 'Transfers.csv'
FIFA_Player_Stats_filename = 'players _ fifa20.csv'

df_playersTM = pd.read_csv(Transfers_Market_filename).loc[:,['PlayerID', 'Player', 'TeamJoined2']]
df_playersFIFA = pd.read_csv(FIFA_Player_Stats_filename).loc[:,['sofifa_id', 'short_name', 'club']]

In [3]:
df_playersTM.head(n = 2)

   PlayerID             Player      TeamJoined2
0    462250         João Félix  Atlético Madrid
1    125781  Antoine Griezmann     FC Barcelona

In [4]:
df_playersFIFA.head(n = 2)

   sofifa_id         short_name          club
0     158023           L. Messi  FC Barcelona
1      20801  Cristiano Ronaldo      Juventus

## Convert DataFrame columns to a list of tuples (Player ID, Player Name, Current Team)

In [5]:
TM = list(df_playersTM.itertuples(index = False, name = None))[:25]

In [6]:
TM = list(df_playersTM.itertuples(index = False, name = None))
FIFA = list(df_playersFIFA.itertuples(index = False, name = None))

## String similarity (using Levenshtein algorithm) between the two lists

In [7]:
match_list = []
start_time = time.time()
levenshtein = Levenshtein()

for tm_id, tm_player, tm_team in TM:
    
    dmax = 100
    
    for fifa_id, fifa_player, fifa_team in FIFA:

        d = levenshtein.distance(tm_player + ' - ' + tm_team, fifa_player + ' - ' + fifa_team)

        if d < dmax:
            match_row = [tm_id, tm_player, tm_team, fifa_id, fifa_player, fifa_team, d]

            if d == 0.0:
                break
            else:
                dmax = d
            
    match_list.append(match_row)

df = pd.DataFrame(match_list)    
print('Process completed in:', time.time() - start_time, 'seconds.')

Process completed in: 200.20562195777893 seconds.

In [8]:
df

,0,1,2,3,4,5,6
0,462250,João Félix,Atlético Madrid,242444,João Félix,Atlético Madrid,0.0
1,125781,Antoine Griezmann,FC Barcelona,194765,A. Griezmann,FC Barcelona,6.0
2,50202,Eden Hazard,Real Madrid,183277,E. Hazard,Real Madrid,3.0
3,177907,Harry Maguire,Manchester United,203263,H. Maguire,Manchester United,4.0
4,326031,Matthijs de Ligt,Juventus FC,235243,M. de Ligt,Juventus,10.0
5,281963,Lucas Hernández,Bayern Munich,220814,L. Hernández,FC Bayern München,11.0
6,343052,Nicolas Pépé,Arsenal FC,226110,N. Pépé,Arsenal,9.0
7,326330,Frenkie de Jong,FC Barcelona,228702,F. de Jong,FC Barcelona,6.0
8,357565,Rodri,Manchester City,231866,Rodri,Manchester City,0.0
9,182712,João Cancelo,Manchester City,210514,João Cancelo,Manchester City,0.0
10,96341,Romelu Lukaku,Inter Milan,192505,R. Lukaku,Inter,11.0
11,257462,Luka Jovic,Real Madrid,232432,L. Jović,Real Madrid,4.0
12,450936,Tanguy Ndombélé,Tottenham Hotspur,235569,T. Ndombele,Tottenham Hotspur,7.0
13,477758,Aaron Wan-Bissaka,Manchester United,229880,A. Wan-Bissaka,Manchester United,4.0
14,401530,Éder Militão,Real Madrid,240130,Éder Militão,Real Madrid,0.0
15,291417,Ferland Mendy,Real Madrid,228618,F. Mendy,Real Madrid,6.0
16,412363,Rodrygo,Real Madrid,243812,Rodrygo,Real Madrid,0.0
17,51471,Mateo Kovacic,Chelsea FC,207410,M. Kovačić,Chelsea,9.0
18,249565,Youri Tielemans,Leicester City,216393,Y. Tielemans,Leicester City,4.0
19,333241,Joelinton,Newcastle United,223334,Joelinton,Newcastle United,0.0
20,181375,Sébastien Haller,West Ham United,205693,S. Haller,West Ham United,8.0
21,323704,Malcom,Zenit St. Petersburg,228971,Jano,SV Mattersburg,15.0
22,146854,Wissam Ben Yedder,AS Monaco,199451,W. Ben Yedder,AS Monaco,5.0
23,206040,Raúl Jiménez,Wolverhampton Wanderers,204838,R. Jiménez,Wolverhampton Wanderers,3.0
24,316889,Hirving Lozano,SSC Napoli,217870,G. Di Lorenzo,Napoli,13.0

## Export results to csv file

In [9]:
df.to_csv('Player Match TM FIFA.csv', index = False)